<div class="form-group" ng-class="FormlyBootstrapUpload.getGroupClass(options);">
    <label for="inp_{{options.key}}">{{to.label}} <span class="required" ng-if="options.templateOptions.required">*</span></label>
    <div class="file_container">
        <label class="file">
            <input type="file" on-change="" id="inp_{{options.key}}" ng-model="model[options.key]" >
            <span class="file-custom"></span>
        </label>
    </div>
    <small class="text-muted" ng-if="to.help !== undefined && showError !== true">
        {{to.help}}
    </small>
    <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
        <div class="text-danger" ng-repeat="obj in options.validation.messages">
            <small>{{obj.message}}</small>
        </div>
        <small class="text-danger" ng-message="{{key}}" ng-repeat="(key, value) in fc.$error" ng-if="key !== 'server'">{{ FormlyBootstrapUpload.getErrorMessage(key,value); }}</small>
    </div>
</div>