<div class="form-group" ng-class="FormlyBootstrapSelect.getGroupClass(options);">
    <label for="inp_{{options.key}}">{{to.label}} <span class="required" ng-if="options.templateOptions.required">*</span></label>
    <select id="inp_{{options.key}}" name="inp_{{options.key}}" ng-disabled="options.templateOptions.disabled" ng-options="option[options.templateOptions.valueProp] as (FormlyBootstrapSelect.getOptionLabel(option,options.templateOptions.labelProp,options.templateOptions)) for option in options.templateOptions.options" class="form-control block" ng-model="model[options.key]" ng-if="options.templateOptions.labelTemplate !== undefined" ng-class="FormlyBootstrapSelect.getInputClass(options);"></select>
    <small class="text-muted" ng-if="to.help !== undefined && showError !== true">
        {{to.help}}
    </small>
    <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
        <div class="text-danger" ng-repeat="obj in options.validation.messages">
            <small>{{obj.message}}</small>
        </div>
        <small class="text-danger" ng-message="{{key}}" ng-repeat="(key, value) in fc.$error" ng-if="key !== 'server'">{{ FormlyBootstrapSelect.getErrorMessage(key,value); }}</small>
    </div>
</div>