<div class="form-group" ng-class="FormlyBootstrapList.getGroupClass(options);">
    <label for="inp_{{options.key}}">{{to.label}} <span class="required" ng-if="options.templateOptions.required">*</span></label>

    <div class="row">
        <div class="list_container">

            <div class="list_entry" ng-repeat="listEntry in FormlyBootstrapList.formData track by $index" ng-class="FormlyBootstrapList.getListClass(options);">

                <div class="row">

                    <div class="col-sm-8 col-xs-12">
                        <formly-form model="FormlyBootstrapList.formData[$index]" fields="FormlyBootstrapList.formFields"></formly-form>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div ng-class="FormlyBootstrapList.getBtnClass(options);">
                            <button ng-click="FormlyBootstrapList.remove($index,$event)" class="btn btn-danger btn-block"><span ng-bind-html="FormlyBootstrapList.lang.remove"></span></button>
                        </div>
                    </div>

                </div>

            </div>

            <div class="list_add">
                <div ng-class="FormlyBootstrapList.getGroupClass(options);">
                    <button ng-click="FormlyBootstrapList.add($event)" class="btn btn-success btn-block"><span ng-bind-html="FormlyBootstrapList.lang.add"></span></button>
                </div>
            </div>

        </div>
    </div>

    <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
        <div class="text-danger" ng-repeat="obj in options.validation.messages">
            <small>{{obj.message}}</small>
        </div>
        <small class="text-danger" ng-message="{{key}}" ng-repeat="(key, value) in fc.$error" ng-if="key !== 'server'">{{ FormlyBootstrapList.getErrorMessage(key,value); }}</small>
    </div>
</div>