<div class="form-group" ng-class="FormlyBootstrapSelect2.getGroupClass(options);">
    <label>{{to.label}} <span class="required" ng-if="options.templateOptions.required">*</span></label>
    <ui-select ng-model="FormlyBootstrapSelect2.data" on-select="FormlyBootstrapSelect2.choose($item, $model)">

        <ui-select-match placeholder="{{options.templateOptions.placeholder}}">
            <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices ng-click="alert('test')" repeat="item in (options.templateOptions.options | filter: $select.search) track by item[options.templateOptions.valueProp]">
            <span>{{ item[options.templateOptions.labelProp] }}</span>
        </ui-select-choices>
    </ui-select>
    <small class="text-muted" ng-if="to.help !== undefined && showError !== true">
        {{to.help}}
    </small>
    <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
        <div class="text-danger" ng-repeat="obj in options.validation.messages">
            <small>{{obj.message}}</small>
        </div>
        <small class="text-danger" ng-message="{{key}}" ng-repeat="(key, value) in fc.$error" ng-if="key !== 'server'">{{ FormlyBootstrapSelect2.getErrorMessage(key,value); }}</small>
    </div>
</div>