<div class="form-group" ng-class="FormlyBootstrapCheckboxList.getGroupClass(options);">
    <label>{{to.label}} <span class="required" ng-if="options.templateOptions.required">*</span></label>
    <div class="checkbox" ng-repeat="option in options.templateOptions.options track by $index">
        <label>
            <input ng-class="FormlyBootstrapCheckboxList.getInputClass(options);" ng-model="option.isSelected" id="inp_{{options.key}}" type="checkbox" ng-disabled="options.templateOptions.disabled"> {{ FormlyBootstrapCheckboxList.getOptionLabel(option,options.templateOptions.labelProp) }} <span class="required" ng-if="options.templateOptions.required">*</span>
        </label>
    </div>
    <small class="text-muted" ng-if="to.help !== undefined && showError !== true">
        {{to.help}}
    </small>
    <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
        <div class="text-danger" ng-repeat="obj in options.validation.messages">
            <small>{{obj.message}}</small>
        </div>
        <small class="text-danger" ng-message="{{key}}" ng-repeat="(key, value) in fc.$error" ng-if="key !== 'server'">{{ FormlyBootstrapCheckboxList.getErrorMessage(key,value); }}</small>
    </div>
</div>