<div class="form-group" ng-class="FormlyBootstrap.getGroupClass(options,model[options.key]);">
    <label for="inp_{{options.key}}">{{to.label}} <span class="required" ng-if="options.templateOptions.required">*</span></label>

    <div class="input-group" ng-if="FormlyBootstrap.hasAddon(null,options)">
        <div class="input-group-addon" ng-if="FormlyBootstrap.hasAddon('left',options)" ng-bind-html="options.templateOptions.addons.left.content" ng-click="FormlyBootstrap.hasAddonAction('left',options)"></div>
        <input type="{{to.type}}" ng-model="model[options.key]" class="form-control" ng-disabled="options.templateOptions.disabled" ng-class="FormlyBootstrap.getInputClass(options);" id="inp_{{options.key}}" placeholder="{{to.placeholder}}">
        <div class="input-group-addon" ng-if="FormlyBootstrap.hasAddon('right',options)" ng-bind-html="options.templateOptions.addons.right.content" ng-click="FormlyBootstrap.hasAddonAction('right',options)"></div>
    </div>

    <input type="{{to.type}}" ng-if="FormlyBootstrap.hasAddon(null,options) === false" ng-model="model[options.key]" class="form-control" ng-disabled="options.templateOptions.disabled" ng-class="FormlyBootstrap.getInputClass(options);" id="inp_{{options.key}}" placeholder="{{to.placeholder}}">
    <small class="text-muted" ng-if="to.help !== undefined && showError !== true">
        {{to.help}}
    </small>
    <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
        <div class="text-danger" ng-repeat="obj in options.validation.messages">
            <small>{{obj.message}}</small>
        </div>
        <small class="text-danger" ng-message="{{key}}" ng-repeat="(key, value) in fc.$error" ng-if="key !== 'server'">{{ FormlyBootstrap.getErrorMessage(key,value); }}</small>
    </div>
</div>